@model List<StudentsRM.Models.Role.RoleViewModel>
@{
    ViewData["Title"] = "Course List";
    int count = 1;
}

<div>
    <a asp-controller="Role" asp-action="Create" class="btn btn-outline-primary">Register New Role</a>
</div>

@* @await Html.PartialAsync("_ListAlert", Model) *@

@if (Model is not null)
{
    <table class="table" >
        <thead>
            <tr>
                <th scope="col">S/N</th> 
                <th scope="col">Role Name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td scope="row">@count</td>
                    <td>@item.RoleName</td>
                    <td>@item.Description</td>
                     <td>
                        <form asp-controller="Role" asp-action="DeleteRole" asp-route-id="@item.Id" class="del-btn">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                count++;
            }
        </tbody>
    </table>
}