@model List<StudentsRM.Models.Course.CourseViewModel>
@{
    ViewData["Title"] = "Course List";
    int count = 1;
}

<div>
    <a asp-controller="Course" asp-action="Create" class="btn btn-outline-primary">Register New Course</a>
</div>

@* @await Html.PartialAsync("_ListAlert", Model) *@

@if (Model is not null)
{
    <table class="table" >
        <thead>
            <tr>
                <th scope="col">S/N</th> 
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td scope="row">@count</td>
                    <td>@item.Name</td>
                </tr>
                count++;
            }
        </tbody>
    </table>
}